{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Categorie</th>
        <th>Nombre de Produits</th>
        <th>Actions</th>
    </thead>
    <tbody>
        {% for categorie in categories %}
        <tr>
            <td onclick="window.location.href='{% url 'dtl_categorie' categorie.idCat %}';" style="cursor:pointer;">{{ categorie.idCat }} </td>
            <td onclick="window.location.href='{% url 'dtl_categorie' categorie.idCat %}';" style="cursor:pointer;">{{ categorie.nomCat }} </td>
            <td onclick="window.location.href='{% url 'dtl_categorie' categorie.idCat %}';" style="cursor:pointer;">{{ categorie.nb_produits }} </td>
            <td>
                <button onclick="window.location.href='{% url 'categorie_chng' categorie.idCat %}';" class="btn btn-warning">Modifier</button>
                <button onclick="window.location.href='{% url 'dlt_categorie' categorie.idCat %}';" class="btn btn-danger">supprimer</button>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="window.location.href='{% url 'crt_categorie' %}';" class="btn btn-primary mt-2">Créer une catégorie</button>
{% endblock %}