{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<table class="table">
    <thead>
        <th>Id</th>
        <th>Nom produit</th>
        <th>Prix unitaire</th>
        <th>Date fabrication</th>
        <th>Catégorie</th>
        <th>Statut</th>
    </thead>
    <tbody>
        {% for prdt in produits %}
        <tr onclick="window.location.href='{% url 'dtl_prdt' prdt.refProd %}';" style="cursor:pointer;">
            <td>{{ prdt.refProd }} </td>
            <td>{{ prdt.intituleProd }} </td>
            <td>{{ prdt.prixUnitaireProd }} </td>
            <td>{{ prdt.dateFabProd }} </td>
            <td>{{ prdt.categorie }} </td>
            <td>{{ prdt.status }} </td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<button onclick="window.location.href='{% url 'crt_prdt' %}';" class="btn btn-primary mt-2">Créer un produit</button>
{% endblock %}