{% extends 'monApp/base.html' %}

{% block menu %}
    <h1 class="display-5 text-center text-primary">{{ titremenu }}</h1>
{% endblock %}

{% block contenu %}
<div class="mb-3">
    <a href="{% url 'lst_categories' %}" class="btn btn-outline-secondary">
        &larr; Retour à la liste des categories
    </a>
</div>
    <div class="card mb-4 shadow-sm border-0">
        <div class="card-header bg-dark text-white">
            <h4>Détail de la catégorie</h4>
        </div>
        <div class="card-body bg-light">
            <h5 class="card-title text-primary">{{ categorie.nomCat }}</h5>
            <ul class="list-unstyled">
                <li><strong>Référence :</strong> {{ categorie.idCat }}</li>
                <li><strong>Nom catégorie :</strong> {{ categorie.nomCat }}</li>
            </ul>
        </div>
        <div class="card-footer text-center bg-white border-0">
            <button type="button" class="btn btn-outline-primary" onclick="window.location.href='{% url 'categorie_chng' categorie.idCat %}'">Modifier</button>
            <button onclick="window.location.href='{% url 'dlt_categorie' categorie.idCat %}';" class="btn btn-outline-danger">Supprimer</button>
        </div>
    </div>
    <div class="card mb-4 mt-2 shadow-sm border-0">
        <div class="card-header bg-dark text-white">
            <h4>Cette catégorie contient <strong>{{ categorie.nb_produits }}</strong> produit(s)</h4>
        </div>
        <div class="card-body bg-light">
            <div class="row">
                {% if prdts %}
                    {% for prdt in prdts %}
                        <div class="col-sm-3">
                            <div class="card mb-2 text-center border-0 shadow-sm">
                                <div class="card-header bg-secondary text-white">
                                    <h5 class="card-title">{{ prdt.intituleProd }}</h5>
                                </div>
                                <div class="card-body bg-white">
                                    <a href="{% url 'dtl_prdt' prdt.refProd %}" class="btn btn-outline-primary mt-2">Détails</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                {% else %}
                    <p class="text-muted">Aucun produit trouvé pour cette catégorie.</p>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}