{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<p onclick="window.location.href='{% url 'lst_categories' %}';" style="cursor:pointer; ">Retour à la liste des categories</p>
<h2>{{ categorie.nomCat }}</h2>
<ul>
<li>Référence categorie : {{categorie.idCat }} </li>
</ul>
<button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'categorie_chng' categorie.idCat %}'">Modifier</button>
<button onclick="window.location.href='{% url 'dlt_categorie' categorie.idCat %}';" class="btn btn-danger">Supprimer</button>
{% endblock %}