{% extends 'monApp/base.html' %}
{% block menu %}
<h1>{{titremenu}}</h1>
{% endblock %}
{% block contenu %}
<p onclick="window.location.href='{% url 'lst_rayons' %}';" style="cursor:pointer; ">Retour à la liste des rayons</p>
<h2>{{ rayon.nomRayon }}</h2>
<ul>
<li>Référence rayon : {{rayon.idRayon }} </li>

</ul>
<button type="button" class="btn btn-primary" onclick="window.location.href='{% url 'rayon_chng' rayon.idRayon %}'">Modifier</button>
<button onclick="window.location.href='{% url 'dlt_rayon' rayon.idRayon %}';" class="btn btn-danger">Supprimer</button>
{% endblock %}